@page "/settings"
@using Microsoft.EntityFrameworkCore
@using BlazorBattControl.Models
@inject IDbContextFactory<BlazorBattControl.Data.BlazorBattControlContext> DbFactory
@inject NavigationManager NavigationManager

@rendermode InteractiveServer

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Settings</h2>
<hr />
@if (DbSettings is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="DbSettings" OnValidSubmit="UpdateDbSettings" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert" />
                <input type="hidden" name="DbSettings.Id" value="@DbSettings.Id" />
                <div class="mb-3">
                    <label for="name" class="form-label">Device Serial Number:</label>
                    <InputText id="DeviceSN" @bind-Value="DbSettings.DeviceSN" class="form-control" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">FoxESS Api Key:</label>
                    <InputText id="FoxApiKey" @bind-Value="DbSettings.FoxApiKey" class="form-control" />
                    <ValidationMessage For="() => DbSettings.FoxApiKey" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Off Peak Entity Flag ID:</label>
                    <InputText id="OffPeakFlagEntityID" @bind-Value="DbSettings.OffPeakFlagEntityID" class="form-control" />
                    <ValidationMessage For="() => DbSettings.OffPeakFlagEntityID" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/schedules">Back to List</a>
</div>

@code {
    private AppDbSettings? DbSettings { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        DbSettings ??= await context.AppDbSettings.FirstOrDefaultAsync();

        if (DbSettings is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateDbSettings()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(DbSettings!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            
        }

        NavigationManager.NavigateTo("/");
    }
}
