@page "/settings"
@using Microsoft.EntityFrameworkCore
@using BlazorBattControl.Models
@using NetDaemonMain.apps.FoxEss.FoxApiClient.Models
@inject NavigationManager NavigationManager
@inject FoxSettings m_foxSettings


@rendermode InteractiveServer

<style>
    .input-full-width{
        width: 100%;
    }

    .save-cancel {
        margin: 4px 0px;
        width: 80px;
    }

    .save-cancel-right {
        margin: 4px 0px;
        width: 80px;
        float: right;
    }

</style>


<PageTitle>Edit Settings</PageTitle>

<h1>Edit Settings</h1>

<hr />
@if (m_foxSettings is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row input-full-width">
        <div class="col-md-4 input-full-width">
            <EditForm method="post" Model="m_foxSettings" OnValidSubmit="UpdateDbSettings" FormName="edit" Enhance>               
                <div class="mb-3">
                    <label for="description" class="form-label">HA Battery Charge Flag ID:</label>
                    <InputText id="OffPeakFlagEntityID" @bind-Value="m_foxSettings.OffPeakFlagEntityID" class="form-control" />
                    <ValidationMessage For="() => m_foxSettings.OffPeakFlagEntityID" class="text-danger" />
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">HA Battery Backup Flag ID:</label>
                    <InputText id="BackupFlagEntityID" @bind-Value="m_foxSettings.BackupFlagEntityID" class="form-control" />
                    <ValidationMessage For="() => m_foxSettings.BackupFlagEntityID" class="text-danger" />
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">HA Feed In Priority Flag ID:</label>
                    <InputText id="FeedInPriorityFlagEntityID" @bind-Value="m_foxSettings.FeedInPriorityFlagEntityID" class="form-control" />
                    <ValidationMessage For="() => m_foxSettings.FeedInPriorityFlagEntityID" class="text-danger" />
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">HA Discharge Flag ID:</label>
                    <InputText id="DischargeFlagEntityID" @bind-Value="m_foxSettings.DischargeFlagEntityID" class="form-control" />
                    <ValidationMessage For="() => m_foxSettings.DischargeFlagEntityID" class="text-danger" />
                </div>

                <button type="submit" class="btn btn-primary save-cancel">Save</button>
                <button class="btn btn-primary save-cancel-right"  @onclick="Cancel">Cancel</button>
            </EditForm>
        </div>
    </div>
}

@code {
    private FoxSettings? FoxSettings { get; set; }

    private static AppDbSettings? settingsBackup;

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (firstRender)
            if (m_foxSettings != null)
                settingsBackup = m_foxSettings.settings.Clone();
    }

    private void Cancel()
    {
        if (m_foxSettings != null && settingsBackup != null)
        {
            m_foxSettings.settings.OffPeakFlagEntityID = settingsBackup.OffPeakFlagEntityID;
            m_foxSettings.settings.BackupFlagEntityID = settingsBackup.BackupFlagEntityID;
            m_foxSettings.settings.FeedInPriorityFlagEntityID = settingsBackup.FeedInPriorityFlagEntityID;
            m_foxSettings.settings.DischargeFlagEntityID = settingsBackup.DischargeFlagEntityID;
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private void UpdateDbSettings()
    {
        m_foxSettings.UpdateSettings();

        NavigationManager.NavigateTo("/");
    }
}
