@page "/settings"
@using Microsoft.EntityFrameworkCore
@using BlazorBattControl.Models
@using NetDaemonMain.apps.FoxEss.FoxApiClient.Models
@inject NavigationManager NavigationManager
@inject FoxSettings m_foxSettings


@rendermode InteractiveServer

<style>
    .input-full-width{
        width: 100%;
    }
</style>


<PageTitle>Edit Settings</PageTitle>

<h1>Edit Settings</h1>

<hr />
@if (m_foxSettings is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row input-full-width">
        <div class="col-md-4 input-full-width">
            <EditForm method="post" Model="m_foxSettings" OnValidSubmit="UpdateDbSettings" FormName="edit" Enhance>
                
                <div class="mb-3">
                    <label for="name" class="form-label">Device Serial Number:</label>
                    <InputText id="DeviceSN" @bind-Value="m_foxSettings.DeviceSN" class="form-control" />
                    <ValidationMessage For="() => m_foxSettings.ApiKey" class="text-danger" />
                </div>
                
                
                <div class="mb-3">
                    <label for="description" class="form-label">FoxESS Api Key:</label>
                    <InputText id="ApiKey" @bind-Value="m_foxSettings.ApiKey" class="form-control" />
                    <ValidationMessage For="() => m_foxSettings.ApiKey" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">HA Battery Charge Flag ID:</label>
                    <InputText id="OffPeakFlagEntityID" @bind-Value="m_foxSettings.OffPeakFlagEntityID" class="form-control" />
                    <ValidationMessage For="() => m_foxSettings.OffPeakFlagEntityID" class="text-danger" />
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">HA Battery Backup Flag ID:</label>
                    <InputText id="BackupFlagEntityID" @bind-Value="m_foxSettings.BackupFlagEntityID" class="form-control" />
                    <ValidationMessage For="() => m_foxSettings.BackupFlagEntityID" class="text-danger" />
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">HA Feed In Priority Flag ID:</label>
                    <InputText id="FeedInPriorityFlagEntityID" @bind-Value="m_foxSettings.FeedInPriorityFlagEntityID" class="form-control" />
                    <ValidationMessage For="() => m_foxSettings.FeedInPriorityFlagEntityID" class="text-danger" />
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">HA Discharge Flag ID:</label>
                    <InputText id="DischargeFlagEntityID" @bind-Value="m_foxSettings.DischargeFlagEntityID" class="form-control" />
                    <ValidationMessage For="() => m_foxSettings.DischargeFlagEntityID" class="text-danger" />
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/">Cancel</a>
</div>

@code {
    private FoxSettings? FoxSettings { get; set; }


    // protected override async Task OnInitializedAsync()
    // {
    //     FoxSettings = m_foxSettings;
    // }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private void UpdateDbSettings()
    {
        m_foxSettings.UpdateSettings();

        NavigationManager.NavigateTo("/");
    }
}
