@page "/schedules/create"
@using Microsoft.EntityFrameworkCore
@using BlazorBattControl.Models
@inject IDbContextFactory<BlazorBattControl.Data.BlazorBattControlContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Schedule</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Schedule" OnValidSubmit="AddSchedule" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="schedualid" class="form-label">SchedualId:</label> 
                <InputNumber id="schedualid" @bind-Value="Schedule.SchedualId" class="form-control" /> 
                <ValidationMessage For="() => Schedule.SchedualId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="Schedule.Name" class="form-control" /> 
                <ValidationMessage For="() => Schedule.Name" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label> 
                <InputText id="description" @bind-Value="Schedule.Description" class="form-control" /> 
                <ValidationMessage For="() => Schedule.Description" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="minsoc" class="form-label">MinSoc:</label> 
                <InputNumber id="minsoc" @bind-Value="Schedule.MinSoc" class="form-control" /> 
                <ValidationMessage For="() => Schedule.MinSoc" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="mindischargesoc" class="form-label">MinDischargeSoc:</label> 
                <InputNumber id="mindischargesoc" @bind-Value="Schedule.MinDischargeSoc" class="form-control" /> 
                <ValidationMessage For="() => Schedule.MinDischargeSoc" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="dischargepower" class="form-label">DischargePower:</label> 
                <InputNumber id="dischargepower" @bind-Value="Schedule.DischargePower" class="form-control" /> 
                <ValidationMessage For="() => Schedule.DischargePower" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/schedules">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Schedule Schedule { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddSchedule()
    {
        using var context = DbFactory.CreateDbContext();
        context.Schedule.Add(Schedule);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/schedules");
    }
}
