@page "/schedules/edit"
@using Microsoft.EntityFrameworkCore
@using BlazorBattControl.Models
@inject IDbContextFactory<BlazorBattControl.Data.BlazorBattControlContext> DbFactory
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<style>
    .save-cancel {
        margin: 4px 0px;
        width: 80px;
    }
</style>

<PageTitle>Edit Schedule</PageTitle>

<h1>Edit Schedule</h1>

<hr />
@if (Schedule is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Schedule" OnValidSubmit="UpdateSchedule" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Schedule.Id" value="@Schedule.Id" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="Schedule.Name" class="form-control" />
                    <ValidationMessage For="() => Schedule.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <InputText id="description" @bind-Value="Schedule.Description" class="form-control" />
                    <ValidationMessage For="() => Schedule.Description" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="minsoc" class="form-label">Min SOC:</label>
                    <InputNumber id="minsoc" @bind-Value="Schedule.MinSoc" class="form-control" min="10" max="100" />
                    <ValidationMessage For="() => Schedule.MinSoc" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="mindischargesoc" class="form-label">Min Discharge SOC:</label>
                    <InputNumber id="mindischargesoc" @bind-Value="Schedule.MinDischargeSoc" class="form-control" min="10" max="100" />
                    <ValidationMessage For="() => Schedule.MinDischargeSoc" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="dischargepower" class="form-label">Discharge Power:</label>
                    <InputNumber id="dischargepower" @bind-Value="Schedule.DischargePower" class="form-control" min="0" max="8000" />
                    <ValidationMessage For="() => Schedule.DischargePower" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary save-cancel">Save</button>
                <button class="btn btn-primary save-cancel" style="float: right;" @onclick="CancelAsync">Cancel</button>
            </EditForm>
        </div>
    </div>
}

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Schedule? Schedule { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Schedule ??= await context.Schedule.FirstOrDefaultAsync(m => m.Id == Id);

        if (Schedule is null)
        {
            NavigationManager.NavigateTo("notfound");
        }       
    }

    private static Schedule? m_schedule; // { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        
        if (firstRender)
            if (Schedule != null)
                m_schedule = Schedule.Clone();

    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private void CancelAsync()
    {
        if (Schedule != null && m_schedule != null)
        {
            Schedule.Name = m_schedule.Name;
            Schedule.MinSoc = m_schedule.MinSoc;
            Schedule.MinDischargeSoc = m_schedule.MinDischargeSoc;
            Schedule.DischargePower = m_schedule.DischargePower;
            Schedule.Description = m_schedule.Description;         
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateSchedule()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Schedule!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!ScheduleExists(Schedule!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/schedules");
    }

    private bool ScheduleExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Schedule.Any(e => e.Id == id);
    }
}
