@page "/schedules/edit"
@using Microsoft.EntityFrameworkCore
@using BlazorBattControl.Models
@inject IDbContextFactory<BlazorBattControl.Data.BlazorBattControlContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Schedule</h2>
<hr />
@if (Schedule is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Schedule" OnValidSubmit="UpdateSchedule" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Schedule.Id" value="@Schedule.Id" />
                <div class="mb-3">
                    <label for="schedualid" class="form-label">SchedualId:</label>
                    <InputNumber id="schedualid" @bind-Value="Schedule.SchedualId" class="form-control" />
                    <ValidationMessage For="() => Schedule.SchedualId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="Schedule.Name" class="form-control" />
                    <ValidationMessage For="() => Schedule.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <InputText id="description" @bind-Value="Schedule.Description" class="form-control" />
                    <ValidationMessage For="() => Schedule.Description" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="minsoc" class="form-label">MinSoc:</label>
                    <InputNumber id="minsoc" @bind-Value="Schedule.MinSoc" class="form-control" />
                    <ValidationMessage For="() => Schedule.MinSoc" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="mindischargesoc" class="form-label">MinDischargeSoc:</label>
                    <InputNumber id="mindischargesoc" @bind-Value="Schedule.MinDischargeSoc" class="form-control" />
                    <ValidationMessage For="() => Schedule.MinDischargeSoc" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="dischargepower" class="form-label">DischargePower:</label>
                    <InputNumber id="dischargepower" @bind-Value="Schedule.DischargePower" class="form-control" />
                    <ValidationMessage For="() => Schedule.DischargePower" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/schedules">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Schedule? Schedule { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Schedule ??= await context.Schedule.FirstOrDefaultAsync(m => m.Id == Id);

        if (Schedule is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateSchedule()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Schedule!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!ScheduleExists(Schedule!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/schedules");
    }

    private bool ScheduleExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Schedule.Any(e => e.Id == id);
    }
}
