@page "/schedules"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorBattControl.Models
@using BlazorBattControl.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorBattControl.Data.BlazorBattControlContext> DbFactory

<PageTitle>Schedules</PageTitle>

<h1>Schedules</h1>

<p>
    <a href="schedules/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Schedule">
    <PropertyColumn Property="schedule => schedule.Name" Title="Name" />
    <PropertyColumn Property="schedule => schedule.MinSoc" />
    <PropertyColumn Property="schedule => schedule.MinDischargeSoc" Title="MinDisSoc" />
    <PropertyColumn Property="schedule => schedule.DischargePower" Title="DisChgPw" />

    <TemplateColumn Context="schedule">
        <a href="@($"schedules/edit?id={schedule.Id}")">Edit</a> |
        <a href="@($"schedules/details?id={schedule.Id}")">Details</a> |
        <a href="@($"schedules/delete?id={schedule.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private BlazorBattControlContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();

        foreach (var schedule in context.Schedule)
        {
            Console.WriteLine($"Schedule: {schedule.Id}");
        }
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
